# Idle Fetcher -- Yet another tiny Go experiment
# Copyright 2023 Giovanni Squillero
# SPDX-License-Identifier: 0BSD

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# GoLand
.idea
/idle-fetcher
